/* ~~~~~~~~ general ~~~~~~~~ */
body {
  background: antiquewhite;
  /* color: antiquewhite; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.row {
  margin: 0;
}

p {
  font-size: 0.85em;
}

a {
  color: #C10805;
  text-decoration: none;
}

a:hover {
  color: #C10805;
  text-decoration: none;
}

::selection {
  background: gold;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  font-size: 0.9em;
}

img {
  width: 50%;
  height: auto;
  min-width: 200px;
  border-radius: 2px;
  margin-left: 145;
}

.col-sm-8 img{
  width:100%;
}
.col-sm-8 img{
  width:100%;
  height:300px;
  min-width: 200px;
  border-radius: 2px;

}
h2, h4, h5 {
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
}

h5 {
  font-size: 0.9em;
  font-weight: 900;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.navigation li, footer p, h4, .small-bold, #portfolio li {
  font-weight: 900;
  letter-spacing: 0.2em;
  font-size: 12px;
}

.small-bold footer p{
  color:white;
}

/* ~~~~~~~~ header ~~~~~~~~ */
header h1, h2{
  font-weight: 900;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

header h1 {
  font-size: 1.8em;
  color:white;
  padding-top: 3.5em;
}

.fixed-header {
  position: fixed;
  top:15px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 9999;
  font-size: 0.5em;
}

.fixed-adjustment {
  padding-top: 36px;
}

/* ~~~~~~~~ nav ~~~~~~~~ */
.navigation {
  position: fixed;
  transform: rotate(90deg);
  transform-origin: right;
  bottom: 0;
  right: 35px;
  z-index: 9999;
}

.navigation li {
  display: inline-block;
  margin-right: 20px;
  padding: 5px;
}

/* ~~~~~~~~ main ~~~~~~~~ */
.full-section {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  height: 100vh;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-limited {
  max-width: 700px;
  margin: 0 auto;
}

/* ~~~~~~~~ about ~~~~~~~~ */
#about {
  margin: 20px auto 100px;
}

#about section:nth-child(1) {
  margin-bottom: 50px;
}

#about p {
  width: 80%;
  min-width: 350px;
  margin: 5px auto;
}

#about section:nth-child(1) {
  margin: 0 auto 20px;
}

.image-block {
  max-width: 320px;
  margin-left: 50px;
}

.highlighted {
  font-weight: 500;
}

/* ~~~~~~~~ skills ~~~~~~~~ */
#skills {
  max-width: 900px;
  padding-top: 60px;
  margin: 0 auto 50px;
}
#skills .row {
  margin: 0 auto 50px;
}

#skills .row:last-child {
  margin: 0 auto;
}

#graph article:nth-child(2) {
  width: 400px;
  background: gold;
}

.bar-graph {
  width: 400px;
  padding: 5px;
  border-right: 1px solid #C10805;
  transition: width 1s ease-in;
  position: relative;
}

.bar-graph::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 100%;
  border: 1px solid white;
  border-radius: 2px;
}

.title, .title::before {
  border-width: 0;
}

/* ~~~~~~~~ portfolio ~~~~~~~~ */

#portfolio {
  padding-top: 60px;
}

.portfolio-item {
  max-width: 600px;
  margin: 20px auto;
  text-align: right;
}

/* ~~~~~~~~ contact ~~~~~~~~ */

#contact{
  padding-bottom: 20rem;
}

/* ~~~~~~~~ mobile ~~~~~~~~ */

@media screen and (max-width: 576px) {
  body {
    padding: 0 15px;
  }

  .navigation {
    right: 25px;
  }

  .bar-graph {
    width: 300px;
  }

  .bar-graph::before {
    width: 300px;
  }

  #skills ul li {
    display: inline-block;
  }
}
